# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# Build outputs
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
*.resolved

# CocoaPods
Pods/
*.xcworkspace
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.moved-aside
*.orig
*.pyc
.DS_Store
*.swp
*.lock
